# Go here to help you with your gitignore files.
# https://www.gitignore.io/

# Composer files and directories
vendor/
composer.lock

# Ignore any IDE files that are created.


# Ignore Code Climate files.
.codeclimate.yml
.csslintrc
.eslintignore
.eslintrc
