{
    "name":         "thadbryson/{ project name here }",
    "description":  "Description of project goes here.",
    "keywords":     ["Your", "keywords", "for", "your", "project", "!"],
    "license":      "MIT",
    "type":         "library | Options: library, project, metaproject, composer-plugin",
    "time":         "Y-m-d or Y-m-d H:i:s format. This is when the project version was released.",
    "homepage":     "http://* - Full homepage URL here.",
    "authors": [
        {
            "name":     "Thad Bryson - Make yourself an author!",
            "email":    "thadbry@gmail.com",
            "homepage": "http://thadbryson.co",
            "role":     "Author"
        }
    ],

    "minimum-stability": "stable",

    "repositories": [
        {
            "_comment": "This allows you to use a local folder path (Composer project) as a repository.",
            "type": "path",
            "url":  "../lib/my-cool-project"
        }
    ],

    "require": {
        "php":   ">=5.6.0"
    },

    "_require-recommended": {
        "_ Begin with underscore": "makes this a comment",
        "danielstjules/stringy":    "@stable - Unicode for Strings.",
        "monolog/monolog":          "@stable - For logging to files, databases, chat rooms, email, and lots of stuff."
    },

    "require-dev": {
        "fzaninotto/faker":         "@stable - Create fake data. Emails, names, addresses, numbers, and more.",
        "codeception/codeception":  "@stable - PHPUnit on steroids.",
         "filp/whoops":             "~2.0    - Pretty error pages."
    },

    "autoload": {
        "psr-4": {
            "TCB\\-- Project code here --\\":     "src/ - You can change to your own custom namespace. Please do.",
            "TCB\\Test\\":                        "test/src/ - If you need objects for your unit testing."
        }
    }
}
