# Composer Boilerplate

### Getting Started

1. Copy this directory to a new one.
2. Change any settings in composer.json you need.
3. Change the Git remote origin.
    `git remote origin remove`
    `git remote origin add -- new origin --`
4. Delete the composer.lock if you have one.
5. Run `composer install`

### Below here are examples to use in your README.md file.

# [Site Title](http://www.example.com/site-url-here)

Any Github tags here.

Short Description here.

Demo: Link to demo

## Table of contents

- [Quick start](#quick-start)
- [Bugs and feature requests](#bugs-and-feature-requests)
- [Documentation](#documentation)
- [Contributing](#contributing)
- [Community](#community)
- [Versioning](#versioning)
- [Creators](#creators)
- [Copyright and license](#copyright-and-license)

## Quick start

Several quick start options are available:

- List here download 1
- Another download option here
- Again with another option here

Read me here at the getting started page - put in a link.

### What's included

Within the download you'll find the following directories and files:

```
root/
├── css/
│   ├-- project.css.map
│   ├── project.css.map
│   ├── project.min.css
│   ├── project-theme.css
│   ├── project-theme.css.map
│   └── project-theme.min.css
├── js/
│   ├── project.js
│   └── project.min.js
└── fonts/
    ├── project.eot
    ├── project.svg
    ├── project.ttf
    ├── project.woff
    └── project.woff2
```

## Bugs and feature requests

Describe how to report bugs and add feature requests.


## Documentation

Link to the documentation [docs](http://www.example.com)

### Running documentation locally

List steps to get documentation locally.

### Documentation for previous releases

Describe how to get documentation for previous releases.

[Previous releases](http://www.example.com)



## Contributing

Write down how to contribute to the project. Open source contributing is FUN!



## Community

Keep track of development and community news.

- Follow [@thadbry on Twitter](https://twitter.com/thadbry).
- Read and subscribe to [The Official Project Blog](http://thadbryson.co/projects/composer-boilerplate).
- Chat with your peers in IRC. On the `irc.freenode.net` server, in the `##whatever` channel.
- Implementation help may be found at Stack Overflow (tagged [`project`](http://stackoverflow.com/questions/tagged/project)).



## Versioning

For transparency into our release cycle and in striving to maintain backward compatibility, this project is maintained under [the Semantic Versioning guidelines](http://semver.org/). We adhere to these rules whenever possible. Sometimes we mess up.



## Creators

**Thad Bryson**

- <https://twitter.com/ThadBry>
- <https://github.com/thadbryson>


## Copyright and license

Code and documentation copyright 2016 Thad Bryson.

Code released under [the MIT license](https://github.com/thadbryson/composer-boilerplate/blob/master/LICENSE).
Docs released under [Creative Commons](https://github.com/thadbryson/composer-boilerplate/blob/master/docs/LICENSE).
